{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboardControll.css') }}">
{% endblock %}

{% block content %}
<h1 style="justify-self: center;">Seja bem vindo, {{ user_name }}!</h1>
<p style="justify-self: center; width: 25%; font-size: medium;">Esta é a sua área de controle de locações, cadastro de veículos e ajustes de permissões de usuários, aproveite!</p>
    <div class="AllControll">
        <div class="ContainerControll">
            <a href="{{ url_for('main.register_vehicles') }}"><div>Cadastrar Veiculos</div></a>
            <a href="{{ url_for('main.pending_rents') }}"><div>Acesse locações</div></a>
            <a href="{{ url_for('main.list_clients') }}"><div>Lista de pessoas</div></a>
        </div>
    </div>
{% endblock %}