{% extends "base.html" %}

{% block title %} Erro {{ error_data['codigo'] }} {% endblock %}

{% block content %}
    <div class="container" style="justify-self: center;">
        <div class="error-contain" style="justify-self: center; margin-bottom: 20px;">
            <h1>{{ error_data['titulo'] }}</h1> <br>

            <p>{{ error_data['mensagem'] }}<br><br> <br>
            
        </div>
        <div style="justify-self: center;"><a style="text-decoration: none; color:#FA7921; font-weight: bold;" href="{{ url_for('routes.index') }}">Clique para voltar à nossa página principal</a></p></div>
        <img src="https://i.gifer.com/VdgG.gif" alt="Uma pequena animação" style="border-radius: 5px; margin: 50px;">
    </div>
{% endblock %}