{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div id="msg"><p>{{ message }}</p></div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="ContLogin"; style="display: flex; align-items: center; justify-content: center;">
        <form method="POST" action="{{ url_for('routes.login') }}" id="login">
            <input type="hidden" name="next" value="{{ request.args.get('next', '') }}">
            <div class="input-group">
                <label>Email</label><br>
                    <input type="text" name="email" class="input" id="email" required placeholder="Digite seu e-mail"><br><br>
            </div>
            <div class="input-group">
                <label>Senha</label><br>
                <input type="password" name="password" class="input" id="password" required placeholder="Digite sua senha"><br><br>
            </div>
            <button type="submit" class="btn" id="button">Enviar</button><br><br>
            <div class="links">
                <a href="#">Esqueceu a senha?</a> | <a href="{{ url_for('routes.register', next=request.args.get('next', '')) }}">Criar conta</a>
            </div>
        </form>
    </div>

{% endblock %}