{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}


{% block extra_js %}
    <script type="module" src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}

{% block title %} Cadastro {% endblock %}

{% block content %}

    <div style="justify-self: center;">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p>{{ message }}</p> <br><br>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="ContRegister" style="display: flex;flex-direction: column; align-items: center; justify-content: center;">
        <form id="auth-form" method="POST" action="{{ url_for('routes.register') }}" >
            <h2 id="form-title">Cadastro</h2>
            <h3 class="input-title">Informações pessoais</h3>
            <div id="input-group-personal" class="form-grid">
                <div class="input-group">
                    <label>Nome</label><br>
                    <input type="text" name="name" id="name" placeholder="Digite seu primeiro nome" required>
                    <div id="name-error" class="error-message"></div>
                </div>


                <div class="input-group">
                    <label>Email</label><br>
                    <input type="text" name="email" id="email" placeholder="Digite seu email" required>
                    <div id="email-error" class="error-message"></div>
                </div>

                <div class="input-group">
                    <label>CPF</label><br>
                    <input type="text" name="CPF" id="CPF"  placeholder="Digite seu CPF" required>
                    <div id="CPF-error" class="error-message"></div>
                </div>

                <div class="input-group">
                    <label>Data de nascimento</label><br>
                    <input type="date" name="data" id="data" required>
                    <div id="data-error" class="error-message"></div>
                </div>

                <div class="input-group">
                    <label>Nacionalidade</label><br>
                    <input type="text" name="nation" id="nation" placeholder="Digite sua nacionalidade" required>
                    <div id="nation-error" class="error-message"></div>
                </div>


                <div class="input-group">
                    <label>Celular</label><br>
                    <input type="tel" name="phone" id="phone" placeholder="Digite seu número de telefone" required>
                    <div id="phone-error" class="error-message"></div>
                </div>
            </div>

            <h3 class="input-title">Senha</h3>
            <div id="input-group-password" class="form-grid">
                <div class="input-group">
                    <label>Crie uma senha</label><br>
                    <input type="password" name="password" class="input" id="password" required placeholder="Digite sua senha"><br><br>
                    <div id="password-error" class="error-message"></div>
                </div>

                <div class="input-group">
                    <label>Confirme sua senha</label><br>
                    <input type="password" name="confirm-password" class="input" id="confirm-password" required placeholder="Digite a mesma senha"><br><br>
                    <div id="confirm-password-error" class="error-message"></div>
                </div>


            </div>


            <div class="register-btn">
            <p><a href="{{ url_for('routes.login') }}">Já tem uma conta? Faça login</a></p>
                <button type="submit" class="btn" id="button">Enviar</button>      
        </div>
        </form>
        <div class="warning" id="register-warning">
        {% with messages = get_flashed_messages()%}
            {% if messages%}
                {% for message in messages%}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    </div>
   
{% endblock %}